<div class="container">
  <a class="btn btn-primary btn-large pull-right" ng-href="/app/posts/new" ng-show="loggedIn"><i class="icon-edit"></i>&nbsp;New Post</a>
  <div class="span8 offset1">
    <article ng-repeat="post in posts">
      <header>
        <h1 style="font-size: 5em;line-height: 70px;">
          <a ng-href="/app/posts/{{post.id}}">{{post.title}}</a>
        </h1>
        <small class="pull-right">Posted on {{post.posted | date}}</small>
      </header>
      <div ng-bind-html-unsafe="post.html"></div>
      <footer>
      </footer>
    </article>
  </div>
</div>