<div class="container">
  <a class="btn pull-right btn-large" ng-href="/"><i class="icon-home"></i>&nbsp;Home</a>
  <div class="span8 offset1">
    <article>
      <header>
        <h1>
          <a ng-href="/app/posts/{{post.id}}">{{post.title}}</a>
          <a class="btn" style="margin-left: 20px;" ng-show="loggedIn" ng-href="/app/posts/{{post.id}}/edit"><i class="icon-pencil"></i>&nbsp;Edit</a>
        </h1>
        <small>Posted on {{post.posted | date}}</small>
      </header>
      <div ng-bind-html-unsafe="post.html"></div>
      <footer>
      </footer>
    </article>
  </div>
</div>