<!doctype html>
<html>
  <head>
    <meta charset="utf8"></meta>
    <title>twilson63.com</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/codemirror.css"></link>
    <link rel="stylesheet" href="/css/monokai.css"></link>
    <link rel="stylesheet" href="/css/app.css"></link>
  </head>
  <body ng-app="app">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">twilson63.com</a>
          <ul class="nav pull-right">
            <li><button class="btn btn-primary" ng-hide="loggedIn" ng-click="showLoginDlg()"><i class="icon-key"></i>&nbsp;Login</button></li>
            <li><button class="btn btn-warning" ng-show="loggedIn" ng-click="logout()"><i class="icon-unlock"></i>&nbsp;LogOut</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <ng-view></ng-view>
    <div ng-controller="LoginCtrl">
      <div modal="showLogin" close="closeLogin()">
        <div class="modal-header">
          <h3><i class="icon-key"></i>&nbsp;Login</h3>
        </div>
        <div class="modal-body">
          <div ng-show="loginError">
            <alert type="error" close="closeAlert($index)">Access Denied!</alert>
          </div>
          <form name="loginForm">
            <p>
              <label>Username</label>
              <input type="text" ng-model="user.username" required></input>
            </p>
            <p>
              <label>Password</label>
              <input type="password" ng-model="user.password" required></input>
            </p>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="login(user)" ng-disabled="loginForm.$invalid"><i class="icon-bolt"></i>&nbsp;Login</button>
        </div>
      </div>
    </div>
    <script src="/codemirror-concat.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="/angular-modules.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>